body {
  margin: 0px;
  /*padding: 0;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;

  min-height: 100%;
  position: relative;
  padding-bottom: 3em;

}

body p {
  margin: 10px;
}
 
/*
 *  * Create dark grey header with a white logo
 *   */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  /*text-transform: uppercase;*/
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 *  * Center the body content
 *   */
  
.container {
  width: 940px;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 2em;
  font-family: 'Peralta', cursive;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-family: 'Peralta', cursive;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}


/*
 *  * Display navigation links inline
 *   */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}

fieldset {
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 5em;
    padding-right: 1em;
    border: 3px groove (internal value);
}

.center {
 text-align: center;
}

footer {
 display: block;
 position:absolute;
 bottom:0;
 color: #6cf;
 width:100%;
 height:47px;   /* Height of the footer */
 background:black;
 height: 3em;

}

#mouse-over:hover {
  background-color: #6cf; 
}

table {
  /*border-collapse: collapse;*/
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
th, td {
  padding: 5px;
  text-align: left;
  border: 1px solid black;
}

html {
  height: 100%;
}
